name: Easy "Ruby on Rails CI"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    steps:
      - name: 
        uses: actions/checkout@v3

      - name: 
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: 
        run: bin/rails db:schema:load

      - name:
        run: COVERAGE="yes" bin/rake

  lint:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
